:local(.receive) {
  display: flex;
}

:local(.send) {
  display: flex;
  flex-direction: row-reverse;
}

:local(.avatar) {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

:local(.content) {
  margin: 16px 5px;
  padding: 10px;
  border-radius: 6px;
  word-break: break-word;
}

:local(.receive .content) {
  border: 1px solid #ccc;
}

:local(.send .content) {
  color: #fff;
  background-color: #18b4ed;
  border: 1px solid #18b4ed;
}