:local(.header) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0 10px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #18b4ed;
}

:local(.avatar) {
  position: absolute;
  width: 35px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #fff;
  border-radius: 50%;
}

:local(.title) {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

:local(.plus) {
  position: absolute;
  color: #fff;
  font-size: 20px;
  height: 100%;
  right: 0;
  padding: 15px 10px;
  cursor: pointer;
}