:local(.footer) {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
  color: #00a5e0;
}

:local(.item) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-grow: 1;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  &:last-of-type {
    border-right: none;
  }
}