:local(.create) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.5);
}

:local(.form) {
  display: flex;
  width: 90%;
  background-color: #fff;
  flex-direction: column;
  padding: 10px;
}

:local(.input) {
  padding-left: 10px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

:local(.buttongroup) {
  display: flex;
}

:local(.submit) {
  flex: 1;
  margin-right: 15px;
  color: #fff;
  height: 35px;
  font-size: 14px;
  border: 1px solid #44CC6E;
  background-color: #44CC6E;
  border-radius: 6px;
  &:last-of-type {
   margin-right: 0;
    border: 1px solid #ccc;
    background-color: #ccc;
  }
}

